* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #eef2f7;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #1f2937, #374151);
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

/* MAIN */
main {
    width: 85%;
    margin: 30px auto;
}

/* CARDS */
.form-card, .table-card {
    background: #fff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}

/* TITULOS */
h2 {
    margin-bottom: 15px;
    color: #333;
}

/* FORM */
form input, form select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form input:focus, form select:focus {
    border-color: #3b82f6;
    outline: none;
}

/* BOTÃO */
button {
    width: 100%;
    padding: 12px;
    background: #3b82f6;
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}



/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #1f2937;
    color: white;
}

th, td {
    padding: 14px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background: #f3f4f6;
}

/* BOTÕES */
.edit {
    background: #f59e0b;
    padding: 6px 10px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.delete {
    background: #ef4444;
    padding: 6px 10px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}